{% extends "base.html" %}

{% block body %}
{% if payload.patron_exists %}
<div class="container-fluid" style="padding-top: 70px;">
	<h3 class="display-4 text-center">{{payload.patron_info[2]}}</h3>
	<div class="container">
		<div class="card-deck">
			<div class="card card-outline-primary">
				<h4 class="card-header text-center card-outline-primary">
					Information
				</h4>
				<div class="card-block">
					<dl class="row">
						<dt class="col-sm-3">Card No.</dt>
						<dd class="col-sm-9">{{payload.patron_info[1]}}</dd>
						<dt class="col-sm-3">DOB</dt>
						<dd class="col-sm-9">{{payload.patron_info[3]}}</dd>
						<dt class="col-sm-3">DOJ</dt>
						<dd class="col-sm-9">{{payload.patron_info[4]}}</dd>
						<dt class="col-sm-3">Address</dt>
						<dd class="col-sm-9">{{payload.patron_info[5]}}</dd>
						<dt class="col-sm-3">Phone</dt>
						<dd class="col-sm-9">{{payload.patron_info[6]}}</dd>
					</dl>
				</div>
			</div>
			<div class="card card-outline-primary">
				<h4 class="card-header text-center card-outline-primary">
					Current Issues
				</h4>
				<div class="list-group">
					{% for issue in payload.issues %}
					<a href="/book/{{issue[0]}}" class="list-group-item list-group-item-action justify-content-between">{{issue[1]}} <span class="badge badge-default badge-pill">{{issue[2]}}</span></a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="container text-center" style="padding-top: 100px;">
	<div class="alert alert-danger" role="alert">
		<strong>Oh snap!</strong> Patron does not exist.
	</div>
</div>
{% endif %}
{% endblock %}